.detail {
    height: 150px;
    top: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.39);
}

#colum-detail div {
    line-height: 22px;
}

#colum-detail .navbar-icon {
    width: 20px;
}
#cidades-participantes {
    width: auto;
}
#indicated-detail .info h4 {
    border-bottom: 2px solid #edece7;
    width: 100%;
    padding-bottom: 5px;
}

#indicated-detail .info {
    padding-bottom: 5px;
    padding-top: 0px !important;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding: 10px 15px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    margin-right: 20px;
}

    #indicated-detail .info .line {
        margin-bottom: 5px;
    }

        #indicated-detail .info .line .str {
            padding-left: 5px;
            display: inline-block;
        }

#indicated-detail h2 {
    margin-top: 0px;
    width: 100%;
    margin-bottom: 15px;
}

#indicated-detail .detail-name {
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 20px;
}

#indicated-detail #qualidades span {
    margin-bottom: 5px;
}

.options-history span {
    width: 150px;
}

.photo-profile img {
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px #b5b5b5;
    width: 100%;
}

img.photo, .video {
    border: 5px solid #fff;
    box-shadow: 0px 0px 5px #b5b5b5;
    display: inline-block;
    margin: 0 auto;
    width: 90%;
}

    .video video {
        width: 100%;
    }

.midias {
    text-align: center;
}

h4.questions {
    border-bottom: 2px solid #edece7;
    width: 100%;
    padding-bottom: 5px;
}

div.form-nota {
    text-align: center;
}

.bootbox.bootbox-sm .modal-dialog {
    width: 360px;
    text-align: center;
    padding-top: 10px;
}

html body.page-signin {
    background: #666 !important;
}

.report-table-scroll {
    font-size: 10px;
    width: 100%;
    overflow: scroll;
    height: 400px;
}

#page-signin-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.minicolors {
    width: 100% !important;
}

.switcher {
    float: left;
    margin-right: 5px;
}

#page-signin-bg img {
    width: 100%;
}

#page-signin-bg .overlay {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.page-signin .signin-container {
    border-radius: 2px;
    display: block;
    margin: 20px 14px;
    position: relative;
    z-index: 999;
}

.page-signin .signin-info {
    background: #444;
    display: block;
    overflow: hidden;
    padding: 20px 30px;
    text-align: center;
}

    .page-signin .signin-info .logo {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        opacity: 1;
    }

        .page-signin .signin-info .logo[href]:hover {
            opacity: .7;
        }

    .page-signin .signin-info .slogan {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
    }

    .page-signin .signin-info ul {
        display: none;
    }

.page-signin .signin-form {
    background: #fff;
    display: block;
    padding: 30px;
    position: relative;
}

.page-signin .password-reset-form {
    background: #fff;
    bottom: 0;
    display: block;
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1020;
}

    .page-signin .password-reset-form .header {
        background: #f4f4f4;
        border-bottom: 1px solid #ddd;
        margin: -30px -30px 30px -30px;
        padding: 20px;
    }

        .page-signin .password-reset-form .header .signin-text {
            margin: 0;
        }

            .page-signin .password-reset-form .header .signin-text span {
                background: #f4f4f4;
            }

            .page-signin .password-reset-form .header .signin-text:before {
                display: none;
            }

        .page-signin .password-reset-form .header .close {
            margin-top: 2px;
        }

    .page-signin .password-reset-form .form-group.w-icon .signin-form-icon {
        z-index: 1025;
    }

.page-signin .form-actions {
    margin-top: 15px;
}

    .page-signin .form-actions .signin-btn {
        border: none;
        border-radius: 999999px;
        font-size: 13px;
        font-weight: 600;
        line-height: 19px;
        outline: 0 !important;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

        .page-signin .form-actions .signin-btn:hover {
            background: #444 !important;
        }

    .page-signin .form-actions a.forgot-password {
        border-bottom: 1px dashed #bbb;
        color: #999;
        display: inline-block;
        font-size: 11px;
        margin-left: 10px;
        padding-bottom: 1px;
    }

        .page-signin .form-actions a.forgot-password:hover {
            color: #555;
            text-decoration: none;
        }

.page-signin .form-group {
    margin: 0;
    position: relative;
}

    .page-signin .form-group + .form-group {
        margin: 10px 0 0;
    }

    .page-signin .form-group.w-icon .signin-form-icon {
        border-right: 1px solid #d6d6d6;
        bottom: 9px;
        color: #d6d6d6;
        display: block;
        font-size: 14px;
        left: 0;
        line-height: 27px;
        position: absolute;
        text-align: center;
        top: 9px;
        width: 40px;
        z-index: 1002;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .page-signin .form-group.w-icon input[type=password], .page-signin .form-group.w-icon input[type=text] {
        font-size: 15px;
        padding-left: 56px;
    }

        .page-signin .form-group.w-icon input[type=password]:focus + .signin-form-icon, .page-signin .form-group.w-icon input[type=text]:focus + .signin-form-icon {
            color: #888;
        }

.page-signin .signin-text {
    color: #777;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
}

    .page-signin .signin-text span {
        background: #fff;
        display: inline-block;
        padding: 0 20px;
        position: relative;
    }

    .page-signin .signin-text:before {
        background: #e4e4e4;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }

.page-signin .signin-with {
    background: #f4f4f4;
    border-top: 1px solid #ddd;
    margin: 30px -30px -30px -30px;
    padding: 20px 30px;
}

.page-signin .signin-with-btn {
    border-radius: 2px;
    color: #fff;
    display: block;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
}

    .page-signin .signin-with-btn span {
        font-weight: 600;
    }

    .page-signin .signin-with-btn + .signin-with-btn {
        margin-top: 10px;
    }

    .page-signin .signin-with-btn:hover {
        background: #444 !important;
    }

.page-signin .not-a-member {
    color: #fff;
    display: block;
    font-size: 14px;
    margin: -20px 0 0 0;
    padding: 20px 0;
    position: relative;
    text-align: center;
    z-index: 999;
}

    .page-signin .not-a-member a {
        color: #fff;
        text-decoration: underline;
        transition: all .3s;
    }

        .page-signin .not-a-member a:hover {
            opacity: .6;
        }

@media (min-width:480px) {
    .page-signin .form-actions {
        margin-top: 15px;
    }

        .page-signin .form-actions .signin-btn {
            padding-left: 40px;
            padding-right: 40px;
            width: auto;
        }
}

@media (min-width:768px) {
    .page-signin .signin-container {
        display: table;
        margin: 80px auto;
        width: 650px;
        table-layout: fixed;
    }

    .page-signin .signin-info {
        display: table-cell;
        padding: 30px 30px 80px 30px;
        text-align: left;
        vertical-align: top;
        width: 40%;
    }

        .page-signin .signin-info ul {
            color: #fff;
            display: block;
            font-size: 13px;
            font-weight: 300;
            margin: 30px 0 0;
            padding: 0;
        }

            .page-signin .signin-info ul li {
                list-style: none;
                margin: 0;
                padding: 7px 0;
            }

            .page-signin .signin-info ul .signin-icon {
                display: block;
                float: left;
                font-size: 14px;
                line-height: 18px;
                margin-right: 6px;
                text-align: center;
                width: 24px;
            }

    .page-signin .signin-form {
        display: table-cell;
        vertical-align: top;
        width: 60%;
    }

    .page-signin .not-a-member {
        margin: -80px 0 80px;
    }

    .validation-summary-valid {
        display: none !important;
    }

    .cb-parceiro {
        width: 100%;
        color: #000;
    }

    .star {
        cursor: pointer;
    }

    #main-menu-inner .text-bg {
        color: #fff;
    }

    .page-header {
        padding: 16px 18px;
    }

    .table-striped.dataTable {
        width: 100% !important;
    }

    #jq-datatable_processing {
        width: 125px;
        float: right;
        padding-top: 7px;
    }
}


.radios-to-slider{
	background-color:#e0e0e0;
	display:block;
	position:relative;
	margin-bottom:80px;
	-webkit-box-sizing:content-box;
	   -moz-box-sizing:content-box;
	     -o-box-sizing:content-box;
	        box-sizing:content-box;
}


.radios-to-slider.medium{
	height:22px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
	padding:5px;
}

/* Levels */
.radios-to-slider .slider-level{
	background-color:#fff;
	cursor:pointer;
	position:absolute;
	display:block;
}

.radios-to-slider .slider-level.slider-lower-level{
	opacity:0.2;
}

.radios-to-slider.medium .slider-level{
	width:22px;
	height:22px;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
	z-index:2;
}

/* Labels */
.slider-label{
	position:absolute;
	display:block;
	cursor:pointer;
	color:#5e5e5e;
	text-align:center;
}

.radios-to-slider.medium .slider-label{
	top:50px;
	width:44px;
}

/* Slider bar */
.radios-to-slider .slider-bar{
	background-color:#e66454;
	float:left;
	height:100%;
	width:0;
	pointer-events:none;
	display:none;
	position:absolute;
	left:0;
	top:0;
}

.slider-bar.transition-enabled{
	-webkit-transition:.2s;
	-moz-transition:.2s;
	-o-transition:.2s;
	transition:.2s;
}

.radios-to-slider.medium .slider-bar{
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
	-o-border-radius:22px;
	border-radius:22px;
}

/* Slider Knob */
.slider-knob{
	float:right;
	background-color:#504948;
}

.radios-to-slider.medium .slider-knob{
	width:32px;
	height:32px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	border-radius:25px;
}

.modal-header .btn{
    float: right;
    margin-right:18px;
}

.frame-desktop {
    padding: 4% 0;
    background-image: url(../images/mockup_chrome.png);
    background-repeat: no-repeat;
    background-size: contain;   
    overflow: hidden;
}

.frame-desktop iframe {
    width: 1366px; 
    height: 677px;
    border: 0;
}

.frame-mobile{
    padding: 38% 10.5% 26.2% 7.8%;
    background-image: url(../images/mockup_iphone6.png);
    background-repeat: no-repeat;
    background-size: contain;   
    overflow: hidden;
}

.frame-mobile iframe {
    width: 375px; 
    height: 604px;
    border: 0;
}

.frame-tablet{
    padding: 19% 6.7% 18.6% 7.1%;
    background-image: url(../images/mockup_ipad.png);
    background-repeat: no-repeat;
    background-size: contain;   
    overflow: hidden;
}

.frame-tablet iframe {
    width: 768px; 
    height: 959px;
    border: 0;
}