<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="httpsHabilitado" value="false" />
  <add key="urlDominioReplace" value="" />

  <add key="cookieDominio" value="" />

  <add key="hostUrlSite" value="http://localhost:1501" />
  <add key="hostUrlWithoutRequest" value="http://localhost:1501" />
  <add key="appContextoWithoutRequest" value="/Admin" />

  <!-- Váriavel de armazenamento do Model na sessão -->
  <add key="sessionModelKey" value="SESSION_APP_ADMIN" />

  <!-- Categoria para Gravação do Log dessa aplicacao  -->
  <add key="logCategory" value="AppAdmin" />

  <add key="chaveCriptografia" value="t0ch@0l1mp1c@" />

  <add key="antivirusPrograma" value="C:\Program Files\Windows Defender\MpCmdRun.exe" />
  <add key="antivirusParametros" value="-Scan -ScanType 3 -File {ARQUIVO}" />
  <add key="antivirusVerificacao" value="found no threats." />

  <add key="emailHost" value="smtp.sendgrid.net" />
  <add key="emailPort" value="587" />
  <add key="emailUser" value="maiconmil" />
  <add key="emailPass" value="!@34qwer" />
  <add key="emailSSL" value="false" />
  <add key="emailSecurityProtocol" value="default" />
  <add key="emailDefaultSender" value="contato@app.com.br" />

  <add key="uploadImagemMaxSize" value="512000" /><!-- 500KB -->
  <add key="uploadVideoMaxSize" value="2097152" /><!-- 2MB -->
  
  <add key="Task.Robo.AguardandoIdicado.Sleep.Time" value="1" />
  <!--12 horas-->

  <add key="razorNamespaces" value="App.Lib.Service,App.Lib.Models,App.Lib.Enumerator,App.Lib.Entity,App.Lib.Entity.Enumerator,App.Lib.Util,App.Lib.Util.Models,App.Lib.Util.Enumerator" />


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  

</appSettings>